select {
  height: 30px;
  width: 150px;
  border-radius: 5;
  padding-left: 10px;

  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: 125px center;

  font-family: Roboto;
  font-size: 14px;
}

.body {
  margin-left: 15px;
}

.header {
  margin-bottom: 15px;
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-size: 58px;
  letter-spacing: 0em;
  line-height: 1.1em;
  text-transform: none;
}

.sort-select {
  margin-right: 10;
}

.show-top-form {
  margin-bottom: 0;
}

.show-top-label {
  font-size: 16px;
  font-weight: 100;
  margin-right: 10px;
}

.show-top-input, .show-top-submit {
  -webkit-appearance: none;
  -moz-appearance: none;

  height: 30px;
  width: 75px;
  border-radius: 5px;
  border-color: rgb(166, 166, 166);
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-image: none;
  padding: 5px;
}

.show-top-submit {
  font-size: 16px;
  font-weight: 100;
}

.show-top-submit:hover {
  background-color: rgb(166, 166, 166);
  color: white;
  cursor: pointer;
}

.bookshelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book {
  font-family: Roboto;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.1em;
  text-transform: none;
  flex-basis: 30%;
  margin-right: 20;
  margin-bottom: 20;
}

.title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5;
}

.cover, .subtitle, .authors, .retailPrice {
  margin-bottom: 5;
}



