.body {
  margin-left: 15px;
}

.header {
  margin-bottom: 15px;
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-size: 58px;
  letter-spacing: 0em;
  line-height: 1.1em;
  text-transform: none;
}

.bookshelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book {
  font-family: Roboto;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.1em;
  text-transform: none;
  flex-basis: 30%;
  margin-right: 20;
  margin-bottom: 20;
}

.title {
  font-weight: 400;
  margin-bottom: 5;
}

.cover, .subtitle, .authors, .retailPrice {
  margin-bottom: 5;
}


